.btn {
  box-sizing: border-box;
  display: block;
  width: 220px;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-weight: 700;
  color: @color-text--second;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  padding-top: 19px;
  padding-bottom: 19px;
  margin: 0 auto;
  background-color: transparent;
  border: 1px solid @color-text--second;

  &:hover {
    background-color: @color-light-orange;
  }
}
