.intro {
  margin-top: 94px;
  position: relative;

  &__title {
    margin-bottom: 26px;
  }

  &__text {
    font-family: Muller, sans-serif;
    font-weight: 200;
    font-size: 18px;
    color: @color-text--second;
    text-align: center;
    margin-bottom: 26px;
  }
}
