.intro {
  margin-top: 94px;
  position: relative;
  padding-bottom: 87px;

  &__title {
    margin-bottom: 26px;
  }

  &__text {
    font-family: Muller, sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: @color-text--second;
    text-align: center;
    margin-bottom: 26px;
    letter-spacing: 0.05em;
  }

  &__button {
    display: block;
    margin: 0 auto;
    margin-top: 38px;
  }

  &__icon {
    fill: @color-text--second;
    opacity: 0.6;

    &:hover {
      fill: @color-light-orange;
      opacity: 1;
    }
  }
}
