.services {
  padding-top: 70px;
  background-color: @color-bg;

  &__title {
    color: @color-text;
    font-size: 45px;
    margin-bottom: 26px;
  }

  &__tab-link {
    display: block;
    padding-top: 13px;
    padding-bottom: 13px;
    color: #7d7d7d;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 22px;

    &:hover {
      color: @color-text;
      font-weight: 600;
    }

    &:active {
      opacity: 0.6;
    }
  }

  &__content {
    margin-top: 30px;
    padding-bottom: 110px;
    text-align: center;
  }

  &__item {


    & h3 {
      display: none;
    }
  }

  &__counter {
    display: none;
  }

  &__text {
    margin-top: 26px;
    margin-bottom: 40px;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-weight: 300;
    color: @color-text--third;
    font-size: 20px;
    line-height: 30px;
  }

  &__btn {
    border: 2px solid @color-text;
    color: @color-text;

    &:hover {
      color: @color-text--second;
      border-color: @color-text--second;
    }
  }

  @media @screen-sm {
    &__title {
      font-size: 45px;
      text-align: left;
    }

    &__tab {
      width: 50%;
      margin-bottom: 20px;

      & br {
        display: none;
      }
    }

    &__tabs {
      display: flex;
      flex-wrap: wrap;
    }

    &__img {
      width: 100%;
    }

    &__item {
      h3 {
        display: block;
      }
    }

    &__title {
      font-family: "Playfair Display", sans-serif;
      font-weight: 400;
      font-size: 30px;
      color: #00203a;
      letter-spacing: 0.025em;
      margin-bottom: 0;
    }

    &__counter {
      display: block;
      font-family: 'Raleway', 'Arial', sans-serif;
      font-weight: 400;
      font-size: 25px;
      letter-spacing: 0.025em;
      line-height: 30px;
    }

    &__inner {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;

      &--row {
        flex-direction: column;
      }
    }

    &__text {
      margin: 0;
      text-align: left;
      width: 530px;
      margin-right: auto;
      font-size: 18px;
      line-height: 30px;
      margin-bottom: 36px;
    }

    &__btn {
      margin: 0;
      margin-right: auto;
      padding-top: 24px;
      padding-bottom: 24px;
      font-size: 18px;
      width: 340px;
    }

    &__content {
      padding-bottom: 200px;
    }
  }
}
