.work {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: @color-bg;

  &__title {
    color: @color-text;
    margin-bottom: 60px;
  }

  &__heading {
    display: block;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 18px;
    color: #313131;
    position: relative;
    margin-bottom: 30px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -15px;
      width: 42px;
      height: 1px;
      background-color: @color-text;
    }
  }

  &__item {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__text {
    font-family: 'Raleway', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: @color-text--third;
  }

  @media @screen-sm {
    padding-top: 120px;

    &__title {
      font-size: 45px;
      text-align: left;
    }

    &__item {
      width: 37%;
      max-width: 345px;
      padding-left: 76px;
      counter-increment: workNumber;
      position: relative;

      &::after {
        display: flex;
        justify-content: center;
        align-items: center;
        content: counter(workNumber);
        position: absolute;
        left: 24px;
        top: 0;
        width: 22px;
        height: 22px;
        background-color: #fde5d1;
        border-radius: 50%;
        font-family: 'Raleway', 'Arial', sans-serif;
        font-weight: 500;
        font-size: 12px;
      }
    }

    &__list {
      counter-reset: workNumber;
      display: flex;
      flex-wrap: wrap;
    }
  }

  @media @screen-lg {
    &__text {
      font-size: 16px;
      line-height: 25px;
    }

    &__heading {
      font-size: 22px;
    }

    &__item {
      box-sizing: border-box;
      max-width: 340px;
    }
  }
}
