@screen-xs: ~"(min-width : 480px)";
@screen-sm: ~"(min-width : 660px)";
@screen-md: ~"(min-width: 1180px)";
@screen-lg: ~"(min-width: 1300px)";

@color-green: #68b738;
@color-text--white: #ffffff;
@color-text--grey: #444444;
@color-text--black: #111111;
@color-grey: #f2f2f2;

